<!-- FOOTER COMPONENT -->
<footer class="footer">
	<div class="wrapper">
		<p class="footer__info"><strong>The Gardens Trust</strong> 70 Cowcross Street, London ECM1M 6EJ
			</p>
		<ul class="footer__nav">
			<li><a href="./contact.html">Contact Us</a></li>
			<li class="open-popup-link"><a href="#mc_embed_signup">Newsletter</a></li>
			<li><a href="#">Sitemap</a></li>
			<li><a href="#">Privacy &amp; Cookies</a></li>
		</ul>
		<div class="footer__contacts">
			<p>
				<span>Phone: (+44/0) xxx xxx xxx</span>
				<span class="divider"> | </span>
				<span>Email: <a href="#">info@companyemail.org</a></span>
			</p>
			<ul>
				<li><a class="facebook" href="#">Facebook</a></li>
				<li><a class="twitter" href="#">Twitter</a></li>
			</ul>
		</div>
	</div>
</footer>
